<%= form_with(model: [ @plan, Review.new], local: true)  do |form| %>


  <div class="field" id="star">
    <%= form.label :star %>
    <%= form.hidden_field :star, id: :review_star %>
  </div>

  <div class="field">
    <%= form.label :review %>
    <%= form.text_field :review %>
  </div>

  <div class="actions detail-btn">
    <%= form.submit %>
  </div>

<% end %>

<script>
$('#star').raty({
  size     : 120,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  scoreName: 'review[star]'
});
</script>

$(function raty() {
     $("div").raty({
          number: 5,
          score : 3
     });
});