<%= form_with(model: plan, local: true) do |form| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :budget %>
      <%= form.number_field :budget %>
    </div>

    <div class="field">
      <%= form.label :time %>
      <%= form.number_field :time %>
    </div>

    <div class="field">
      <%= form.label :tmp %>
      <%= form.text_area :tmp %>
    </div>

    <div class="field">
      <%= form.label :image %>
      <%= form.text_field :image %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
